body{
    margin: 0px;
    background: black;
    font-family: 'Nunito', sans-serif;
    background-image: url(../img/imgBackgroundBlue.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

header{
    /* height: 100vh; */
    height: auto;
    overflow: auto;
}

#background{
    position: fixed;
    background-size: cover ;
    background-position: center;
    min-width: 100%!important;
    min-height: 100%!important;
}

#conteudo{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

#cardLogin{
    background-color: #140c01; 
    border: 1px solid rgb(203,171,35); 
    border-radius: 20px;
    width: 90%;
    box-shadow: 3px 3px 30px 5px #000000;
}

#img-card{
    width: 60%;
}

.lblLogin{
    font-size: 1.1rem;
    font-weight: bold;
}

.inputLogin{
    border: 1px solid #cbab23;
    background-color: rgb(236, 236, 236);
    font-weight: bold;
}

.inputLogin:focus{
    box-shadow: 0 0 0 0!important;
    border: 2px solid #cbab23!important;
    font-weight: bold;
}

#btnEntrar{
    background-color: #cbab23;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    text-shadow: 1px 1px 2px rgb(0, 0, 0); 
    width: 100px;
    box-shadow: 2px 2px 10px 2px #000000;
}

#btnEntrar:hover{
    box-shadow: none;
    background-color: #e2be1b;
    transition: .3s;
}

@media only screen and (min-width: 500px) {
    #cardLogin{
        width: 70%;
        max-width: 500px;
    }
}
@media only screen and (min-width: 800px) {
    #cardLogin{
        width: 60%;
        max-width: 500px;
    }
}
@media only screen and (min-width: 1200px) {
    #cardLogin{
        width: 40%;
        max-width: 550px;
    }
}

@media only screen and (max-width: 500px) {
    .lblLogin{
        font-size: 1rem;
    }
}