*, *:after, *:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    margin: 0px;
    background: black;
    font-family: 'Nunito', sans-serif;
    background-image: url(../img/imgBackgroundBlue.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

header{
    /* height: 100vh; */
    height: auto;
    overflow: auto;
}

#background{
    position: fixed;
    background-size: cover ;
    background-position: center;
    min-width: 100%!important;
    min-height: 100%!important;
}

#conteudo{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

#cardLogin{
    background-color: #140c01; 
    border: 1px solid rgb(203,171,35); 
    border-radius: 20px;
    width: 90%;
    box-shadow: 3px 3px 30px 5px #000000;
}

#img-card{
    width: 60%;
}

#btnEntrar{
    background-color: #cbab23;
    color: #140c01;
    font-weight: 900;
    font-size: 1.1rem;
    text-shadow: 0px 0px 0px rgb(0 0 0);
    width: 100px;
    transition: .3s;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.5);
}

#btnEntrar:hover{
    box-shadow: none;
    background-color: #ffd000;
    transition: .3s;
}

@media only screen and (min-width: 500px) {
    #cardLogin{
        width: 70%;
        max-width: 500px;
    }
}
@media only screen and (min-width: 800px) {
    #cardLogin{
        width: 60%;
        max-width: 500px;
    }
}
@media only screen and (min-width: 1200px) {
    #cardLogin{
        width: 40%;
        max-width: 550px;
    }
}

@media only screen and (max-width: 500px) {
    .lblLogin{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 400px) {
    .lblLogin{
        font-size: 0.7rem;
    }
}

.ui_text_field{
    position: relative;
    padding: 7px;
    color: white;
    margin-bottom: 5px;
}

.ui_text_field input{
    height: 50px;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #cbab23;
    border-radius: 5px;
    background: none;
    color: white;
    transition: all 0.3s ease-in-out;
}

.ui_text_field label{
    position: absolute;
    left: 15px;
    top: 50%;
    padding: 0 5px;
    transform: translateY(-50%);
    pointer-events: none;
    color: white;
    background-color: #140c01;
    transition: all 0.3s ease-in-out;
    font-size: 1.1rem;
    font-weight: 900;
}

.ui_text_field input:focus{
    outline: 0;
    box-shadow: 0 0 0 0!important;
    border: 2px solid #cbab23!important;
    background: none;
    color: white;
    font-weight: 900;
}

.ui_text_field input:focus + label{
    margin-top: -25px;
    color: white;
}

.ui_text_field input:not([value=""]) + label{
    margin-top: -25px;
    color: white;
}